<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Finding</title>
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>

    <!-- ICON -->
    <link rel="shortcut icon" href="/public/img/ICON2.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/Staff/return.css">
</head>

<body>
    <!-- navbar -->
    <nav>
        <div id="left">
            <h3>STAFF</h3>
            <div>
                <a href="/assetlist/staff"><button>Asset list</button></a>
                <a href="/Dashborad/staff"><button id="thispage">Dashboard</button></a>
                <a href="/history/staff"><button>History</button></a>
                <a href="/return"><button>Return</button></a>
            </div>
        </div>
        <div id="right">
            <input type="text" placeholder="Search Here" id="Search">
            <button onclick="logout()">
                <h6>Logout</h6>
            </button>
        </div>
    </nav>


    <!-- Dashboard -->
    <div class="container mt-3">
        <div class="bg py-2 px-5">
            <!-- table -->
            <div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>

                            <th>Picture</th>
                            <th>Asset Name</th>
                            <th>Category</th>
                            <th>Borrower Name</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody id="display">

                    </tbody>
                </table>

            </div>
            <div class=" d-flex justify-content-end align-items-center " id="btnMY">
                <button id="Back">Back</button>
                <button id="next">Next</button>
            </div>
        </div>

    </div>
    </div>












    <script src="/public/js/JS.js"></script>
    <script src="/public/js/sweetalert2@11.js"></script>
    <!-- <script src="/public/js/Staff/Return.js"></script> -->
    <script>
        var ser = document.getElementById('Search');
        let Alldata = ""
        let currentPage = 1;
        let totalPages = 7
        async function getdata(pageNumber, searchTerm) {
            try {
                let data = await fetch("/gethistor")
                let mydata = await data.json()
                serdata = mydata.filter(b => b.verify === 1);
                const Alldata = serdata.filter(element => element.assetName.toLowerCase().includes(searchTerm.toLowerCase()));
                totalPages = Math.ceil(Alldata.length / 7);

                currentPage = pageNumber;
                const startIndex = (currentPage - 1) * 7;
                const endIndex = Math.min(startIndex + 7, Alldata.length);
                const tableBody = document.getElementById("display");

                tableBody.innerHTML = "";
                let display = "" // Clear table content
                // console.log(Alldata)
                for (let start = startIndex; start < endIndex; start++) {


                    display += `
                    <tr>
                   
                    <td><img src="/public/img/DATA_IMG/${Alldata[start].Image}" alt="" style="margin: 0 auto; "></td>
                    <td>${Alldata[start].assetName}</td>
                    <td>${Alldata[start].Category}</td>
                    <td>${Alldata[start].borrower_name}</td>
                    <td><button  class="btnR" onclick="d(${Alldata[start].ID})" >Return</button></td>
                    </tr>`

                    tableBody.innerHTML = display;

                }
            } catch (error) {
                console.log(error)
            }

        }
        getdata(1, "")
        document.getElementById("next").addEventListener("click", () => {
            if (currentPage < totalPages) {
                getdata(currentPage + 1, ser.value);
                console.log(currentPage)
            }
        });

        document.getElementById("Back").addEventListener("click", () => {
            if (currentPage > 1) {
                getdata(currentPage - 1, ser.value);
            }
        });
        ser.addEventListener("input", () => {
            getdata(1, ser.value)
        })

        async function d(id) {
            // console.log(myid)
            let ID = id
            Swal.fire({
                title: "Are you sure?",
                text: "Is this asset is retrun",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    try {
                        console.log(myid)
                        const options = {
                            method: "PUT",
                            headers: { "Content-Type": "application/json" },
                            body: JSON.stringify({ "id": ID, "staffid": myid })
                        }
                        const respones = await fetch('/returnasset', options)
                        Swal.fire({
                            title: "Return!",
                            text: "This asset is returned.",
                            icon: "success"
                        });
                    } catch {
                        console.error("err")
                    }


                    getdata(currentPage, "");
                }
            });
        }
    </script>
</body>

</html>