nav {
    display: flex;
    justify-content: space-between;
    margin: 10px 100px;
    align-items: center;

}

#left {
    display: flex;
    flex-direction: column;

}

#left h3 {
    color: #5A9ABF;
}

nav button {
    background-color: transparent;
    border: none;
    color: #604343;
}

#right {
    color: #604343;

}

body {
    background-color: #92FFBE;
    padding: 20px;
}

.bg {
    background-color: #E8CFF8;
    border-radius: 3rem;
    min-width: 1000px;
    min-height: 500px;
    
}

input {
    background-color: #FFD3E7;
    width: 25rem;
    height: 2rem;
    border: none;
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
}

input::placeholder {
    color: #BD5E5E;
}

table {
    border-radius: 20px;
   
}

#Brorrwed {
    width: 5.5rem;
    background-color: #EBFF9A;
    text-align: center;
    border-radius: 15px;

}

#Return {
    background-color: #FFBBDA;
    border: none;
    width: 5.5rem;
    border-radius: 15px;
}

img {
    height: 64px;
    border-radius: 14px;
}

.table th {
    background-color: #E8CFF8;
    text-align: center;
}

.table td{
   
    background-color: #F8F0FF;
    text-align: center;
    margin-top: 5rem;
}
#btnMY button{
    border: none;
    width: 10rem;
    height: 2.5rem;
    border-radius: 40px;
    color: white;
    background-color: #5A9ABF;
    margin-left: 10px;
    margin-top: 10px;

}
.btnR{
    border: none;
    width: 5rem;
    height: 1.5rem;
    border-radius: 40px;
    color: white;
    background-color: #5A9ABF;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 2rem;
}


